<header class="header">
    <div class="header__flotante">
        <div class="header__social"></div>
        <div class="header__social"></div>
        <div class="header__social"></div>
    </div>

    <div class="header__superior-wraper">
        <div class="header__superior">
            <div class="header__idioma">
                <p><a href="#">español</a> | <a href="#">english</a></p>
            </div>
            <div class="header__buscador">
                <input type="text" placeholder="Buscar producto...">
            </div>
        </div>
    </div>

    <div class="header__principal-wraper">
        <div class="header__principal">
            <div class="header__logo">
                <img src="../../assets/images/logotipo_manufacturas_muela.png" alt="Logotipo de muela">
            </div>
            <nav class="header__nav">
                <ul class="header__ul">
                    <li class="header__link"><a class="header__link--a" href="#">Manufacturas Muela</a></li>
                    <li class="header__link"><a class="header__link--a" href="#">Fortalezas</a></li>
                    <li class="header__link"><a class="header__link--a" href="#">Productos</a>
                        <ul class="header__submenu">
                            <li class="header__submenu--link"><a href="#">Cuchillos de lujo</a></li>
                            <li class="header__submenu--link"><a href="#">Cuchillos de acero de damasco</a></li>
                            <li class="header__submenu--link"><a href="#">Caza y deportivos</a></li>
                            <li class="header__submenu--link"><a href="#">Navajas artesanales</a></li>
                            <li class="header__submenu--link"><a href="#">Gourmet</a></li>
                            <li class="header__submenu--link"><a href="#">Fundas y accesorios</a></li>
                            <li class="header__submenu--link"><a href="#">Textil</a></li>
                        </ul>
                    </li>
                    <li class="header__link"><a class="header__link--a" href="#">Novedades</a>
                        <ul class="header__submenu">
                            <li class="header__submenu--link"><a href="#">Nuevo Agarre Lujo, edición limitada</a></li>
                            <li class="header__submenu--link"><a href="#">Muela Escudero 30R</a></li>
                            <li class="header__submenu--link"><a href="#">Cuchillos fileteros FP-19R y FP-15M de la línea Gourmet</a></li>
                            <li class="header__submenu--link"><a href="#">Navaja K-7R con sistema de bloqueo "Back Lock"</a></li>
                            <li class="header__submenu--link"><a href="#">Navaja K-9RM con sistema de bloqueo "Back Lock"</a></li>
                            <li class="header__submenu--link"><a href="#">Navaja P8-CO con cierre de pistón</a></li>
                            <li class="header__submenu--link"><a href="#">Nuevo Cazorla 16-OL con empuñadura en madera de olivo</a></li>
                            <li class="header__submenu--link"><a href="#">Nuevo Cazorla 16-OL con empuñadura en madera de olivo</a></li>
                        </ul>
                    </li>
                    <li class="header__link"><a class="header__link--a" href="#">Actualidad</a></li>
                    <li class="header__link"><a class="header__link--a" href="#">En el mundo</a></li>
                    <li class="header__link"><a class="header__link--a" href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>