@use '../../styles.scss' as global;

//Estilos generales del footer
//Contenedor del footer
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: global.$color-gris-oscuro;
}

//Contenedor principal
.footer_wraper {
    width: 100%;
    max-width: 1300px;
    display: grid;
    margin: 5%;
    grid-template:
        "direccion  direccion   facebook" 1fr
        "navbar     navbar      facebook" 1fr
        "derechos   derechos    derechos" 0.5fr "nota       nota        nota" 0.5fr /
        1fr 1fr 0.5fr;

    color: global.$color-fondo;
}

//Estilos de la sección de facebook
.footer__facebook {
    grid-area: facebook;
    display: flex;
    justify-content: end;
}

//Estilos de la seccón de dirección
.footer__direccion {
    grid-area: direccion;

    h1 {
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: .6rem;
    }

    p,
    span {
        font-size: 1rem;
        margin-bottom: .6rem;
        font-weight: 400;
    }

    p:nth-child(5) {
        margin-bottom: 1.3rem;
    }

    p:last-of-type span {
        margin-top: 0.6rem;
        text-decoration: underline;
    }
}


//Estilos de la lista de enlaces
.footer__nav {
    grid-area: navbar;
}

.footer__ul {
    display: flex;
    justify-content: start;
    align-items: start;
    list-style-type: disc;
}

.footer__ul--li {
    margin-right: 1.5rem;
}

.header__link--a {
    color: global.$color-fondo;
    text-transform: uppercase;
}

.header__link--a:hover {
    text-decoration: underline;
}

.footer__subnav {
    position: absolute;
    list-style-type: disc;
}

.footer__subnav--li {
    margin-top: 0.3rem;
}

.footer__subnav a {
    color: global.$color-fondo;
    font-size: 0.9rem;
}

.footer__subnav a:hover {
    text-decoration: underline;
}

//Estilos del copyright
.footer__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-area: derechos;
    color: global.$color-fondo;
}

.footer__politicas {
    display: flex;
    list-style-type: disc;

    li {
        margin-right: 1.5rem;
    }

    a {
        color: global.$color-fondo
    }

}

.footer__politicas a:hover {
    text-decoration: underline;
    
}

//Estilos de la nota del final
.footer__nota {
    grid-area: nota;
    display: flex;
}

.footer__pagadores {
    display: flex;
}

.footer__pagadores img{
    height: 100px;
    margin-left: 1rem;
}