<footer class="footer">
    <div class="footer_wraper">
        <div class="footer__facebook">
            <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/CuchillosMuela" data-tabs="timeline"
                data-width="400" data-height="450" data-small-header="false" data-adapt-container-width="true"
                data-hide-cover="false" data-show-facepile="true" fb-xfbml-state="rendered"
                fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=0&amp;height=450&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FCuchillosMuela&amp;locale=es_LA&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=400">
    
                <span style="vertical-align: bottom; width: 400px; height: 450px;">
                    <iframe name="fa4d7dc9f198c4ce8" width="400px" height="450px"
                        data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0"
                        allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                        src="https://www.facebook.com/v2.7/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dff003aa55fb26107f%26domain%3Dwww.muela.eu%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.muela.eu%252Ff1d8a8669764b2f26%26relation%3Dparent.parent&amp;container_width=0&amp;height=450&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FCuchillosMuela&amp;locale=es_LA&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=400"
                        style="border: none; visibility: visible; width: 400px; height: 450px;" class="">
                    </iframe>
                </span>
            </div>
        </div>
        <div class="footer__direccion">
            <h1>Manufacturas Muela, S.A.</h1>
            <p>Polígono Industrial El Cabezuelo 1</p>
            <p><span>13440</span> · <span>Argamasilla de Calatrava</span></p>
            <p><span>Ciudad Real</span> · <span>España</span></p>
            <!-- &nbsp; sirve para insertar un espacio-->
            <p>Teléfono: <span>(+34)</span>&nbsp;<span>926 477 680</span></p>
            <p>Email: <span>info&#64;comercialmuela.com</span></p>

        </div>
        <div class="footer__nav">
            <ul class="footer__ul">
                <li class="footer__ul--li"><a class="header__link--a" href="#">Manufacturas Muela</a></li>
                <li class="footer__ul--li"><a class="header__link--a" href="#">Fortalezas</a></li>
                <li class="footer__ul--li"><a class="header__link--a" href="#">Productos</a>
                <ul class="footer__subnav">
                    <li class="footer__subnav--li"><a href="#">Cuchillos de lujo</a></li>
                    <li class="footer__subnav--li"><a href="#">cuchillos de acero de damasco</a></li>
                    <li class="footer__subnav--li"><a href="#">Caza y deportivos</a></li>
                    <li class="footer__subnav--li"><a href="#">Navajas artesanales</a></li>
                    <li class="footer__subnav--li"><a href="#">Gourmet</a></li>
                    <li class="footer__subnav--li"><a href="#">Fundas y accesorios</a></li>
                    <li class="footer__subnav--li"><a href="#">Textil</a></li>
                </ul>
                </li>
                <li class="footer__ul--li"><a class="header__link--a" href="#">Novedades</a></li>
                <li class="footer__ul--li"><a class="header__link--a" href="#">Actualidad</a></li>
                <li class="footer__ul--li"><a class="header__link--a" href="#">En el mundo</a></li>
                <li class="footer__ul--li"><a class="header__link--a" href="#">Contacto</a></li>
                
            </ul>
        </div>
        <div class="footer__copy">
            <span>&copy 2021 Manufacturas Muela. Todos los derechos reservado.</span>
            <ul class="footer__politicas">
                <li><a href="#">Aviso Legal</a></li>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Política de Cookies</a></li>
            </ul>
        </div>
        <div class="footer__nota">
            <span>Empresa beneficiaria de las subvenciones de la Junta de Comunidades de Castilla-La Mancha para el fomento de la inversión y la mejora de la productividad empresarial. Proyecto incentivado con una subvención confinanciada en un 80% por el Fondo Europeo de Desarrollo Regional.</span>
            <div class="footer__pagadores">
                <img src="../../assets/images/logo_castilla_lamancha.jpg" alt="Icono de Castilla La Mancha" title="Icono de Castilla La Mancha">
                <img src="../../assets/images/logo_union_europea.jpg" alt="Icono de la Unión Europea" title="Icono de la Unión Europea">
            </div>
        </div>
    </div>
</footer>