<body class="body__listaProductos">

    <div class="body__slogan parche">
        Navajas y cuchillos artesanales, desde el año 1950
    </div>
    
    <div class="body__container">
        <h1 class="body__container--h1">Cuchillos de acero damasco</h1>
    </div>
    
    <hr class="body__separador">

    <div class="body__productos--wrapper">
        
        <div *ngFor="let producto of productos" class="body__producto">
                <img src="{{producto.imagen}}" alt="{{producto.nombre}}">
            <div class="body__producto--titulo">
                <p>{{producto.nombre}}</p>
            </div>
        </div>
    </div>
</body>