/*

$color-verde-header: #c1b901;
$color-fondo: #fffefe ;
$color-rrss: #333232;
$color-gris-oscuro: #676766;
$color-gris-fuente:#999898;
$color-verde-fuente:#fcf790;
$fuentePath0: "Fira Sans", serif;


*/

@use '../../styles.scss' as global;



//Estilos del carousel 
/*

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*/

.body__content {
    width: 100%; 
    height: 60vh;
    background-size: cover; /* La imagen de fondo se escala para cubrir todo el contenedor sin deformarse. */
    background-position: center; /* La imagen de fondo se centra dentro del contenedor. */
    background-repeat: no-repeat;/* La imagen de fondo no se repite, se muestra una sola vez. */

    animation-name: animate; /* Nombre de la animación definida con @keyframes. */
    animation-direction: normal; /* La animación se reproduce en un sentido y luego en el contrario. */
    animation-play-state: running; /* La animación se está ejecutando (no está en pausa). */
    animation-timing-function: step-end; /* Ajusta la velocidad de la animación */
    animation-duration: 40s; /* La animación completa dura 40 segundos en recorrer los keyframes. */
    animation-iteration-count: infinite; /* La animación se repite indefinidamente. */
}

@keyframes animate {
    
    0% {
        background-image: url(../../assets/images/muela_agarre.jpg);
    }
    
    14% {
        background-image: url(../../assets/images/muela_piranha.jpg);
    }

    28% {
        background-image: url(../../assets/images/muela_BT-9NG.jpg);
    }

    42% {
        background-image: url(../../assets/images/muela_ZX-8CO.jpg);
    }

    56% {
        background-image: url(../../assets/images/muela_cazorla.jpg);
    }

    70% {
        background-image: url(../../assets/images/muela_sherpa.jpg);
    }

    85% {
        background-image: url(../../assets/images/muela_fileteros.jpg);
    }

    100% {
        background-image: url(../../assets/images/muela_panzer.jpg);
    }

    
}

/*
@keyframes animate {
    0% {
        background-image: url(../../assets/images/muela_piranha.jpg);
    }

    14% {
        background-image: url(../../assets/images/muela_BT-9NG.jpg);
    }

    28% {
        background-image: url(../../assets/images/muela_ZX-8CO.jpg);
    }

    42% {
        background-image: url(../../assets/images/muela_cazorla.jpg);
    }

    56% {
        background-image: url(../../assets/images/muela_sherpa.jpg);
    }

    70% {
        background-image: url(../../assets/images/muela_fileteros.jpg);
    }

    85% {
        background-image: url(../../assets/images/muela_panzer.jpg);
    }

    100% {
        background-image: url(../../assets/images/muela_agarre.jpg);
    }
}
*/


//Estilos del slogan trasladados a la hoja global

//Estilos de la sección de categorias
.body__categorias-wraper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body__categorias {
    margin-top: 2rem;
    display: grid;
    place-items: center;
    max-width: calc(295px * 4.5);
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    gap: 25px;
}

.body__categoria {
    overflow: hidden; /* Oculta el desborde */
    display: flex; /* Para centrar la imagen */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    position: relative;
    height: 295px;
    width: 295px;
    border-radius:global.$border-radius-categorias;
    cursor:pointer;
}

.body__categoria img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen manteniendo la proporción */
    object-position: center; /* Centra la imagen dentro del contenedor */
    border-radius:global.$border-radius-categorias;
}

.body__categoria-titulo {
    position: absolute;
    bottom: 0;
    padding: 6% 0;
    width: 100%;
    background-color:global.$color-gris-categoria;
    opacity: 90%;
    border-radius: 5px;

    p {
        color: global.$color-fondo;
        text-align: center;
        font-size: 1.5625rem;
        width: 100%;
    }
}

.body__categoria:hover .body__categoria-titulo{
    background-color: global.$color-verde-header;
}


//Estilos de la descarga del catálogo y el separador

.body__descargar{
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        width: 100px;
        height: 100px;
    }

    p{
        color: global.$color-verde-header;
    font-size: 1.6rem;
    cursor:pointer;
    }

    p:hover{
        color: black;
    }
}

.body__separador{
    background-color: global.$color-gris-fuente;
    margin-bottom: 7rem;
}

//Estilos de la sección de actualidad

.body__actualidad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}
.body__container__enlace {
    margin-bottom: 3%;
}



.body__container__enlace--a {
    color: global.$color-gris-fuente;
    font-size: 2.5rem;
    font-weight: 400;
    cursor:pointer;
}

.body__container__enlace--a:hover {
    text-decoration: underline;
}

.body__noticias {
    display: flex;
    gap: 20px;
}
.body__noticia {
    border: 1px solid global.$color-gris-fuente;
    border-radius:global.$border-radius-categorias;
    cursor:pointer;
}

.body__noticia:hover{
    background-color:global.$color-grid-novedad;
}

.body__noticia--imgContainer {
    margin: 15px;
    overflow: hidden;
    width: 300px;
    height: 300px;
}
.body__noticia--img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen manteniendo la proporción */
    object-position: center; /* Centra la imagen dentro del contenedor */
    border-radius:global.$border-radius-categorias;
}

.body__noticia__textWraper{
    width: 300px;
    margin: 0 15px;
    margin-bottom: 5%;
}

.body__noticia--fecha {
    font-size: 1rem;
    color: global.$color-gris-fuente;
    margin-bottom: 4%;
}
.body__noticia--titular {
    font-size: 1.2rem;
    color: global.$color-verde-header;
    margin-bottom: 4%;
}
.body__noticia--descripcion {
    font-size: 1rem;
    color: global.$color-gris-fuente;
    margin-bottom: 15%;
}


//Estilos del banner

.body__banner {
    width: 100%;
    background-image: url(../../assets/images/banner_mundo_fondo.jpg);
    background-size: cover; /* La imagen de fondo se escala para cubrir todo el contenedor sin deformarse. */
    background-position: center; /* La imagen de fondo se centra dentro del contenedor. */
    background-repeat: no-repeat;/* La imagen de fondo no se repite, se muestra una sola vez. */
    margin-bottom: 4rem;
}
.body__banner--h1 {
    font-size: 3rem;
    color: global.$color-fondo;
    font-weight: 400;
    text-align: center;
    padding: 3rem 0;
}


//Estilos de las novedades
.body__novedades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body__novedades--wraper {
    display: grid;
    place-content: center;
    width: 100%;
    max-width: calc(620px * 2.1);
    grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
    gap: 40px 20px;
    justify-items: center;
   margin-bottom: 2%;
}
.body__novedad {
    display: flex;
    height: auto;
    justify-content: start;
    align-items: start;
    width: 620px;
    border-radius:global.$border-radius-categorias;
    background-color:global.$color-grid-novedad;
    cursor:pointer;
}
.body__novedad:hover{
    background-color:global.$color-gris-novedad-hover;
}

.body__novedad__img--container{
    overflow: hidden;
    width: 250px;
    height: 250px;
    display: block;
    margin-right: 15px;
}
.body__novedad__img--container img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen manteniendo la proporción */
    object-position: center; /* Centra la imagen dentro del contenedor */
    border-top-left-radius: global.$border-radius-categorias;
    border-bottom-left-radius: global.$border-radius-categorias;
}
.body__novedades_text--container {
    width: calc(620px - 250px - 15px - 10px); /*ancho del contenedor - ancho de la imagen - margin de la imagen - espacio para que no llegue al extremo del contenedor*/
    height: 100%;
}
.body__sticker {
    
    background-color: global.$color-gris-oscuro;
    padding: 2%;
    width: 100px;
    text-align: center;
    color: global.$color-fondo;
    text-transform: uppercase;

}
.body__novedad--titular {
    color: global.$color-verde-header;
    font-size: 1.3rem;
    margin: 5% 0;
}
.body__novedad--descripcion {
    display: -webkit-box; /* Define un contenedor flexible */
    -webkit-line-clamp: 4; /* Número de líneas visibles */
    -webkit-box-orient: vertical; /* Orientación del recorte */
    overflow: hidden; /* Oculta el contenido que excede */
    color: global.$color-gris-oscuro;
    font-size: 1.2rem;
    
}
