

<body class="body">
    
    <div class="body__content">
        
    </div>
    <div class="body__slogan">
        Navajas y cuchillos artesanales, desde el año 1950
    </div>

    
    <div class="body__categorias-wraper">
        <div class="body__categorias">
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
        </div>

        <div class="body__descargar">
            <img src="../../assets/images/descargas.png" alt="Icono de descarga" title="Icono de descargar">
            <p class="descargar">Descargar catálogo</p>
        </div>
    </div>

    <hr class="body__separador">

    <div class="body__actualidad">
        <h1 class="body__h1">
            <a href="#">Actualidad</a>
        </h1>

        <div class="body__noticias">
            <img src="" alt="">
            <p>fecha</p>
            <h2>Titular</h2>
            <p>descripcion</p>
        </div>
    </div>
</body>