

<body class="body">
    
    <div class="body__content">
        
    </div>
    <div class="body__slogan">
        Navajas y cuchillos artesanales, desde el año 1950
    </div>

    
    <div class="body__categorias-wraper">
        <div class="body__categorias">
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
            <div class="body__categoria">
                <img src="https://placehold.co/295x295" alt="">
                <div class="body__categoria-titulo">
                    <p>Cuchillos de lujo</p>
                </div>
            </div>
        </div>

        <div class="body__descargar">
            <img src="../../assets/images/descargas.png" alt="Icono de descarga" title="Icono de descargar">
            <p class="descargar">Descargar catálogo</p>
        </div>
    </div>

    <hr class="body__separador">


    <div class="body__actualidad">
        <div class="body__container__enlace">
            <h1 class="body__container__enlace--h1"><a class="body__container__enlace--a" href="#">Actualidad</a></h1>
        </div>
        <div class="body__noticias">
            <div class="body__noticia">
                <div class="body__noticia--imgContainer">
                    <img class="body__noticia--img" src="https://placehold.co/600x900" alt="">
                </div>
                <div class="body__noticia__textWraper">
                    <p class="body__noticia--fecha">
                        15-11-2024
                    </p>
                    <p class="body__noticia--titular">
                        Nuevas fotos del muela Agarre, cuchillo de lujo edición limitada
                    </p>
                    <p class="body__noticia--descripcion">
                        Magnífico cuchillo de remate
                    </p>
                </div>
            </div>
            <div class="body__noticia">
                <div class="body__noticia--imgContainer">
                    <img class="body__noticia--img" src="https://placehold.co/600x900" alt="">
                </div>
                <div class="body__noticia__textWraper">
                    <p class="body__noticia--fecha">
                        15-11-2024
                    </p>
                    <p class="body__noticia--titular">
                        Nuevas fotos del muela Agarre, cuchillo de lujo edición limitada
                    </p>
                    <p class="body__noticia--descripcion">
                        Magnífico cuchillo de remate
                    </p>
                </div>
            </div>
            <div class="body__noticia">
                <div class="body__noticia--imgContainer">
                    <img class="body__noticia--img" src="https://placehold.co/600x900" alt="">
                </div>
                <div class="body__noticia__textWraper">
                    <p class="body__noticia--fecha">
                        15-11-2024
                    </p>
                    <p class="body__noticia--titular">
                        Nuevas fotos del muela Agarre, cuchillo de lujo edición limitada
                    </p>
                    <p class="body__noticia--descripcion">
                        Magnífico cuchillo de remate
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="body__banner">
        <h1 class="body__banner--h1">Muela en el mundo</h1>
    </div>

    <div class="body__novedades">
        <div class="body__container__enlace">
            <h1 class="body__container__enlace--h1"><a class="body__container__enlace--a" href="#">Novedades</a></h1>
        </div>
    </div>
</body>