

<body class="body">
    
    <div class="body__content">
        
    </div>
    <div class="body__slogan">
        Navajas y cuchillos artesanales, desde el año 1950
    </div>

    
    <div class="body__categorias-wraper">
        <div class="body__categorias">

                <!-- uso de ngfor -->
            <div *ngFor="let categoria of categorias" class="body__categoria">
                <img src="{{categoria.imagen}}" alt="">
                <div class="body__categoria-titulo">
                    <p>{{categoria.nombre}}</p>
                </div>
            </div>


        </div>

        <div class="body__descargar">
            <img src="../../assets/images/descargas.png" alt="Icono de descarga" title="Icono de descargar">
            <p class="descargar">Descargar catálogo</p>
        </div>
    </div>

    <hr class="body__separador">


    <div class="body__actualidad">
        <div class="body__container__enlace">
            <h1 class="body__container__enlace--h1"><a class="body__container__enlace--a" href="#">Actualidad</a></h1>
        </div>
        <div class="body__noticias">
            <!-- uso de ngfor -->
            <div *ngFor="let noticia of actualidad" class="body__noticia">
                <div class="body__noticia--imgContainer">
                    <img class="body__noticia--img" src="{{noticia.imagen}}" alt="">
                </div>
                <div class="body__noticia__textWraper">
                    <p class="body__noticia--fecha">
                        {{noticia.fecha}}
                    </p>
                    <p class="body__noticia--titular">
                        {{noticia.titular}}
                    </p>
                    <p class="body__noticia--descripcion">
                        {{noticia.descripcion}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="body__banner">
        <h1 class="body__banner--h1">Muela en el mundo</h1>
    </div>

    <div class="body__novedades">
        <div class="body__container__enlace">
            <h1 class="body__container__enlace--h1"><a class="body__container__enlace--a" href="#">Novedades</a></h1>
        </div>

        <div class="body__novedades--wraper">
            <!-- uso de ngfor -->
            <div *ngFor="let novedad of novedades" class="body__novedad" title="Leer más">
                <div class="body__novedad__img--container">
                    <img src="{{novedad.imagen}}" alt="Novedad">
                </div>
                <div class="body__novedades_text--container">
                    <p class="body__sticker">Novedad</p>
                    <p class="body__novedad--titular">{{novedad.titular}}</p>
                    <p class="body__novedad--descripcion">{{novedad.descripcion}}</p>
                </div>
            </div>
                 
        </div>
    </div>
</body>