<body class="body__ficha">

    <div class="body__slogan parche">
        Navajas y cuchillos artesanales, desde el año 1950
    </div>

    <div class="body__container">
        <h1 class="body__container--h1">Cuchillos podenco y mastin</h1>
    </div>


    <div class="body__producto--wrapper">
        <img src="https://panel.muela.eu/fotos/cuhillo_6_PODENCO_6271_muela(2).jpg" alt="">
        <div class="body__descripcion">
            <p class="body__descripcion--texto">Manufacturas Muela fabricante de cuchillos y navajas artesanales
                presenta, dentro de la familia de CUCHILLOS DE LUJO, los cuchillos de lujo PODENCO y MASTÍN.

                Muela presenta la reedición de dos de sus cuchillos clásicos y más emblemáticos de la firma como son el
                “MASTÍN” y “PODENCO”, aludiendo y homenajeando a dos de las razas más importantes dentro del mundo de la
                montería española. Ambos se presentan con una preciosa guarda en plata de ley y tan solo se diferencian
                por la moneda maciza también de plata que incorpora en la roseta.
            </p>
            <div class="body__descripcion--detalles">
                <p>Mango 165 MM</p>
                <p>Hoja 245 MM</p>
                <p>Peso 525 GR.</p>
            </div>
        </div>
    </div>
</body>