<body class="body">
    

    <div class="body__slogan">
        Navajas y cuchillos artesanales, desde el año 1950
    </div>


    <div class="body__categoriasProductos">
        <div class="body__container">
            <h1 class="body__container--h1">Productos</h1>
        </div>
        <div class="body__categorias--wraper">


            <!-- uso de ngfor -->
            <div *ngFor="let categoria of categorias" class="body__categoria" title="Leer más">
                <div class="body__categoria__img--container">
                    <img src="{{categoria.imagen}}" alt="Novedad">
                </div>
                <div class="body__categorias_text--container">
                    <p class="body__categoria--titular">{{categoria.nombre}}</p>
                    <p class="body__categoria--descripcion">{{categoria.descripcion}}</p>
                </div>
            </div>


        </div>
    </div>
</body>